@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #f8f8fa;
  --primary: #3a7dff;
  --secondary: #00695c;
  --lightText: #23262d;
  --success: #208b59;
  --failed: #ff3333;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--lightText);
}

/* CUSTOM TAILWIND CLASSES  */
@layer components {
  .button {
    @apply w-full py-[.2rem] rounded-[4px] text-[15px] uppercase font-[500] text-white;
  }
  /* FONTS */
  .mdFont {
    @apply text-[14px] md:text-[18px] lg:text-[20px] xl:text-[22px];
  }
  .smFont {
    @apply text-[12px] md:text-[14px] lg:text-[1rem] xl:text-[18px];
  }
  /* PADDING */
  .lgXYPadding {
    @apply px-[1rem] py-[.8rem] md:px-[1.2rem] md:py-[1rem] lg:px-[1.5rem] lg:py-[1.2rem] xl:px-[1.7rem] xl:py-[1.4rem];
  }
  .mdXYPadding {
    @apply px-[.8rem] py-[.6rem] md:px-[1rem] md:py-[.7rem] lg:px-[1.4rem] lg:py-[1.2rem] xl:px-[1.8rem] xl:py-[1.4rem];
  }
  .smXYPadding {
    @apply px-[.6rem] py-[.5rem] md:px-[.8rem] md:py-[.6rem];
  }
  /* SHADOW */
  .cShadow {
    @apply shadow-[0px_2px_4px_0px_rgba(149,_157,_165,_0.2)];
  }
}

/* CSS FOR UPLOAD IMAGES */
#product_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

#product_images div:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
